<app-header title="Login"></app-header>

<ion-content [fullscreen]="true">

  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form">

      <app-input-info 
      autocomplete="mail"
      icon="email-outline"
      [control]="form.controls.email"
      type="email"
      label="Correo"
      ></app-input-info>

      <div class="validators" **ngFor="form.controls.email.errors && form.controls.email.touched">
        <div ngFor="form.controls.email.errors.[required]">El campo es requerido</div>
        <div ngFor="form.controls.email.errors.[email]">Ingresa un correo electronico valido</div>
      </div>
  
      <app-input-info 
      autocomplete="password"
      icon="lock-closed"
      [control]="form.controls.password"
      type="password"
      label="Contraseña"
      ></app-input-info>

      <div class="validators" **ngFor="form.controls.password.errors && form.controls.password.touched">
        <div ngFor="form.controls.password.errors.[required]">El campo es requerido</div>
      </div>
      <p routerLink="forgot-password" class="ion-text-end">Olvidaste la contraseña</p>
      <ion-button expand="block" mode="ios" class="subnit" type="subnit" [disabled]="form.invalid">
        Ingresar
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>

      <ion-button class="ion-margin-top" routerLink="sign-up" expand="block" mode="ios" fill="outline">
        Registrate
        <ion-icon slot="end"name="person-add-outline"></ion-icon>
      </ion-button >

  
    </form>
  </div>
  

</ion-content>
